.label-style{
  width:165px;
  text-align: left;
  font-weight: 500;
}

.input-style{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.floors-warper{
  margin-top: 20px;
}

.title{
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 50px;
}