.bold{
  font-weight: 600;
  text-align: right;
}

.cell{
  border: 1px gainsboro solid;
  background-color: white;
  width: 500px;
  height: 65px;
}

.row{
  background-color: #B8B8B8;
}

.floor-button-warper{
  width: 100px;
  height: 40px;
}

.floor-dscription-warper{
  width: 160px;
  height: 40px;
}
